doctype html
html
    head
        title= pageTitle
        meta(charset='utf-8')
        meta(property='fb:app_id', content='511658775888304')
        meta(property='og:title', content='The Marker')
        meta(property='og:description', content='The Marker description')
        meta(property='og:type', content='place')
        meta(property='og:url', content='http://www.imdb.com/title/tt0117500/')
        meta(property='og:image', content='http://ia.media-imdb.com/images/rock.jpg')
        meta(property='place:location:latitude', content='65.015387')
        meta(property='place:location:longitude', content='25.463297')
    body
        p= markerTitle
        p= markerId